<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"><html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta><link rel="stylesheet" type="text/css" href="__STYLE__"></link></head><body>
<h3>Справочник Информационные базы</h3>
<div>
<h4>Название конфигурации</h4></div>
<div>Реквизиты:</div>
<div>- Название версии конфигурации</div>
<div><br></div>
<div>Формируется атоматически при нажатии кнопки Обновить версию конфигурации </div>
<div><br></div>
<div><img src="_files/DescriptionObjects_1.png" border="1" align="middle"></img></div>
<div><br></div>
<div>
<h4>Заполнение Табличной части (ТЧ)</h4></div>
<div>Для заполнение ТЧ, необходимо заполнить поля:</div>
<div><br></div>
<div>
<div>Реквизиты:</div>
<div>- Сервер</div>
<div>- Пользователь</div>
<div>- База</div>
<div>- Пароль</div>
<div><br></div><img src="_files/DescriptionObjects_2.png" border="1" align="middle"></img></div>
<div><br></div>
<div>для подключения к Базе Источник</div>
<div><br></div>
<div>После нажатия кнопки Заполнить</div>
<div><br><img src="_files/DescriptionObjects_4.png" border="1" align="middle"></img></div>
<div><br></div>
<div>Заполниться ТЧ</div>
<div><br></div>
<div>
<div>Реквизиты:</div>
<div>- Имя              - программное название </div>
<div>- Синоним     - пользовательское название</div>
<div>- Объект         - справочник Объекты, содержит детальную информацию об объекте конфигурации</div>
<div>- Подсистема - справочник Подсистемы, раздел учета</div>
<div>- Описание    - назначение</div>
<div>- Количество - кол-во созданных элементов </div>
<div>- Вид               - Справочник, документ, регистр </div>
<div><br></div><img src="_files/DescriptionObjects_3.png" border="1" align="middle"></img></div>
<div><br></div>
<div>
<h4>Создание Объектов Конфигурации Источник</h4></div>
<div>Колонка ТЧ Объект, содержит элемент справочник Объекты, </div>
<div><br></div>
<div>Объект можно выбрать из списка </div>
<div><br><img src="_files/DescriptionObjects_5.png" border="1" align="middle"></img></div>
<div><br></div>
<div>или создать новый, нажав кнопку Создать объект</div>
<div><br><img src="_files/DescriptionObjects_6.png" border="1" align="middle"></img></div>
<div><br></div>
<div>
<h3>Справочник Объекты</h3></div>
<div>
<div>Реквизиты:</div>
<div>- Родитель                       - </div>
<div>- Наименование             - </div>
<div>- Идентификатор            - </div>
<div>- Вид                                - </div></div>
<div>- Изменен                        - </div>
<div>- Подсистема                   - </div>
<div>- Информационная база -</div>
<div><br></div>
<div>
<h4>Заполнение Табличной части (ТЧ)</h4></div>
<div>Необходимо нажать кнопку Заполнить</div>

</body></html>